<!doctype html>
<html ng-app="inquiry">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/angucomplete.css">
    <link rel="stylesheet" href="../css/base.css">
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angucomplete.js"></script>
    <script type="text/javascript" src="../js/angular-touch.min.js"></script>
    <script type="text/javascript" src="../js/inquiry_zuaa.js"></script>
<style type="text/css">
	#first input{
		height: 28px;
	}
</style>
</head>
<body >
<div class="fixed js-header" id="header">
    <div class="header">
      <div class="containers">
          <a href="/" class="logo" title="芯牛">
            <span class="icon icon-logo"></span>
          </a>
          <ul class="nav-login">
            <li><a href="/" class="login">登录</a></li>
            <li><a href="/" class="login">注册</a></li>
          </ul>
          <div class="searchs">
		    <div class="search_box">
				<input  type="text" value="" class="">
				<button type="submit" class="">搜索</button>
			</div>
          </div>
           
          <ul class="nav-link">
            <li><a href="/">首页</a></li>
            <li><a href="/">供应商</a></li>
            <li><a href="/">分类</a></li>
            <li><a href="/">库存管理</a></li>
            <li><a href="/">客服</a></li>
            <li><a href="/" target="_blank">关于</a></li>
          </ul>
      </div>
    </div>
</div>
<div class="conainer " style="margin-top:100px;">
    <h1 class="text-center">询价</h1>
    <form class="form-inline col-xs-12"  style="margin-top:25px;">
        <div class="form-group text-left" >
            <label>供应商：富昌电子</label>
        </div> 
        <div ng-controller="InquiryController" class=""  >
            <table class="table table-bordered col-xs-10"  ng-keydown="keydown($event)">
                <tr>
                    <th>料号</th>
                    <th>制造商</th>
                    <th>数量</th>
                    <th>交期</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="product in products">
                    <td id="first">
                        <angucomplete id="ex1"
                                      placeholder="Search pn"
                                      pause="100"
                                      selectedobject="selectedPN"
                                      localdata="pns"
                                      searchfields="name"
                                      titlefield="name"
                                      minlength="1"
                                      inputclass="form-control form-control-small"/>
                    </td>
                    <td>
                        <input type="text" ng-model="product.mfs"  />
                    </td>
                    <td>
                        <input type="text" ng-model="product.quantity" />
                    </td>
                    <td>
                        <input type="text" ng-model="product.delivery" />

                    </td>
                    <td>
                        <input type="text" ng-model="product.mark" placeholder="备注" />
                    </td>
                    <td class="text-center">
                        <a ng-show="$index!=0" style="color:red;" ng-click="del($index)">移除</a>
                    </td>
                </tr>
                <tr>
                    <td rowspan="6">
                        <button class="btn btn-success col-xs-12" ng-click="add()">增加一个</button>
                    </td>
                </tr>

            </table>

        </div>
        <div class="col-xs-12 " style="margin-top:50px;">
            <div class="col-xs-3"></div><button type="submit" class="btn btn-info col-xs-6 ">询价</button>
        </div>
        <div class="col-xs-12 " style="margin-top:10px;">
        	<span class="col-xs-7 "></span><span>批量询价，点击<a href="javascript:alert('平哥，上 ！！！斌哥做准备！！！');" >execl导入批量询价</a></span>
        </div>
    </form>

</div>
<div style="clear:both;"></div>
<div class="foot">
	<div class="content">
		<p>www.icniu.com<br>
		页面所有信息以及版权均归芯牛所有
		</p>
	</div>
</div>
<a class="to-top top" href="javascript:scrollTo(0,0);" >Top</a>
</body>
</html>